body{
    background-color: rgb(2, 0, 0);
    color: #7fce7f;
}

section{
    background: darkolivegreen ;
    padding-top: 60px ;
    padding-bottom: 60px;
    display: flex; /* torna flexivel = poe um do lado do outro */
    justify-content: center; /*centraliza*/
}

